# Function
### print ชื่อ xxx นามสกุล yyy หรัส zzz
### print เกรด วิชา Stat 1 >>> AAA

In [2]:
a = 'ชื่อ กฤตยา นามสกุล สังข์ไทย รหัส 603021853-6'
print (a)

ชื่อ กฤตยา นามสกุล สังข์ไทย รหัส 603021853-6

In [3]:
name='กฤตยา'
surname = 'สังข์ไทย'
ID ='603021853-6'
b = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
print (b)

ชื่อ กฤตยา นามสกุล สังข์ไทย รหัส 603021853-6

## วิธีการเขียน Function

## Function template
```python
def function_name(input):
    do_someting
    return output
```

In [4]:
def print_line1(name1,surname1,ID1):
    st= f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
    return st

In [5]:
print(print_line1('กฤตยา','สังข์ไทย','603021853-6'))

ชื่อ กฤตยา นามสกุล สังข์ไทย รหัส 603021853-6

## Function without output

In [11]:
def print_2line(name1,surname1,ID1,grade):
    st= f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
    print (st)
    st2=f'เกรดวิชา stat1 >>> {grade}'
    print (st2)

In [12]:
print_2line('กฤตยา','สังข์ไทย','603021853-6','B')

ชื่อ กฤตยา นามสกุล สังข์ไทย รหัส 603021853-6
เกรดวิชา stat1 >>> B

In [14]:
def print_3line(name1,surname1,ID1,grade):
    st= f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
    print (st)
    st2=f'เกรดวิชา stat1 >>> {grade}'
    print (st2)

In [15]:
print_3line('กฤตยา','สังข์ไทย','603021853-6','A')
print_3line('ลั่นฟ้า','บุญรอด','603021885-3','A')
print_3line('ณัฐฤทธิ์','เศวตวรานนท์','603021863-3','A')

ชื่อ กฤตยา นามสกุล สังข์ไทย รหัส 603021853-6
เกรดวิชา stat1 >>> A
ชื่อ ลั่นฟ้า นามสกุล บุญรอด รหัส 603021885-3
เกรดวิชา stat1 >>> A
ชื่อ ณัฐฤทธิ์ นามสกุล เศวตวรานนท์ รหัส 603021863-3
เกรดวิชา stat1 >>> A

## Function without input

In [16]:
def two_x_three():
    x=2*3
    return x

In [20]:
two_x_three()

6

## Function whit default argument

In [29]:
def print_3line_default(name1,surname1,ID1,grade='F'):
    st= f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
    print (st)
    st2=f'เกรดวิชา stat1 >>> {grade}'
    print (st2)

In [30]:
print_3line_default ('กฤตยา','สังข์ไทย','603021853-6')

ชื่อ กฤตยา นามสกุล สังข์ไทย รหัส 603021853-6
เกรดวิชา stat1 >>> F

## Loop (วนซ้ำ)

```Python
for each_member in listA:
        do something
```

In [31]:
for i in [1,2,3]:
    print(i)

1
2
3

In [40]:
for i in 'Krittaya':
    print(f'{i}')

K
r
i
t
t
a
y
a

## 1. สร้าง list ชื่อเพื่อนที่อยู่ในแถวเดียวกัน 
## 2. สร้าง function ประโยคว่า XXX(ชื่อเรา) YYY(กริยา) ZZZ(เพื่อน) ทุกคน
## 2. วนลูป เรียก function โดยเปลี่ยนชื่อเพื่อนไปเรื่อยๆ

In [111]:
list_Friend =['เจ็ท','บูม','เจมส์','ดาย','ฝน','แคมป์']

In [112]:
def print_lineF(myname,felling,name_friend):
    print (f' {myname}  {felling}  {name_friend}')

In [113]:
print_lineF('แตงโม','รัก','บูม')
print_lineF('แตงโม','เบื่อ','ฝน')

 แตงโม  รัก  บูม
 แตงโม  เบื่อ  ฝน

In [114]:
for i in list_Friend:
    print_lineF('แตงโม','รัก',i)

 แตงโม  รัก  เจ็ท
 แตงโม  รัก  บูม
 แตงโม  รัก  เจมส์
 แตงโม  รัก  ดาย
 แตงโม  รัก  ฝน
 แตงโม  รัก  แคมป์

## loop in function

In [123]:
def print_lineFs(myname,feelling,name_friend):
    for friend in name_friend:
        print(f'{myname} {feelling} {friend}')

In [141]:
print_lineFs('แตงโม','รัก',list_Friend)

แตงโม รัก เจ็ท
แตงโม รัก บูม
แตงโม รัก เจมส์
แตงโม รัก ดาย
แตงโม รัก ฝน
แตงโม รัก แคมป์

## loop in loop

In [136]:
list_Friend =['เจ็ท','บูม','เจมส์','ดาย','ฝน','แคมป์']

In [145]:
for name1 in list_Friend:
    for name2 in list_Friend:
        print_lineF(name1,'รัก',name2)

 เจ็ท  รัก  เจ็ท
 เจ็ท  รัก  บูม
 เจ็ท  รัก  เจมส์
 เจ็ท  รัก  ดาย
 เจ็ท  รัก  ฝน
 เจ็ท  รัก  แคมป์
 บูม  รัก  เจ็ท
 บูม  รัก  บูม
 บูม  รัก  เจมส์
 บูม  รัก  ดาย
 บูม  รัก  ฝน
 บูม  รัก  แคมป์
 เจมส์  รัก  เจ็ท
 เจมส์  รัก  บูม
 เจมส์  รัก  เจมส์
 เจมส์  รัก  ดาย
 เจมส์  รัก  ฝน
 เจมส์  รัก  แคมป์
 ดาย  รัก  เจ็ท
 ดาย  รัก  บูม
 ดาย  รัก  เจมส์
 ดาย  รัก  ดาย
 ดาย  รัก  ฝน
 ดาย  รัก  แคมป์
 ฝน  รัก  เจ็ท
 ฝน  รัก  บูม
 ฝน  รัก  เจมส์
 ฝน  รัก  ดาย
 ฝน  รัก  ฝน
 ฝน  รัก  แคมป์
 แคมป์  รัก  เจ็ท
 แคมป์  รัก  บูม
 แคมป์  รัก  เจมส์
 แคมป์  รัก  ดาย
 แคมป์  รัก  ฝน
 แคมป์  รัก  แคมป์

## looping in dict

In [125]:
name_grade = {'กฤตยา':'A','โสภิตา':'B','ณัฐฤทธิ์':'C','ลั่นฟ้า':'F'}
name_grade

{'กฤตยา': 'A', 'โสภิตา': 'B', 'ณัฐฤทธิ์': 'C', 'ลั่นฟ้า': 'F'}

In [126]:
name_grade['โสภิตา']

'B'

In [132]:
name_grade.keys()

dict_keys(['กฤตยา', 'โสภิตา', 'ณัฐฤทธิ์', 'ลั่นฟ้า'])

In [134]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}')

กฤตยา ได้เกรด A
โสภิตา ได้เกรด B
ณัฐฤทธิ์ ได้เกรด C
ลั่นฟ้า ได้เกรด F

## Conditional

```Python
if condition1:
    do something
elif condition2:
    do someting
else:
    do....
```

In [148]:
list_Friend =['เจ็ท','บูม','เจมส์','ดาย','ฝน','แคมป์']

In [149]:
for name1 in list_Friend:
    for name2 in list_Friend:
        if name1!= name2:
          print_lineF(name1,'รัก',name2)

 เจ็ท  รัก  บูม
 เจ็ท  รัก  เจมส์
 เจ็ท  รัก  ดาย
 เจ็ท  รัก  ฝน
 เจ็ท  รัก  แคมป์
 บูม  รัก  เจ็ท
 บูม  รัก  เจมส์
 บูม  รัก  ดาย
 บูม  รัก  ฝน
 บูม  รัก  แคมป์
 เจมส์  รัก  เจ็ท
 เจมส์  รัก  บูม
 เจมส์  รัก  ดาย
 เจมส์  รัก  ฝน
 เจมส์  รัก  แคมป์
 ดาย  รัก  เจ็ท
 ดาย  รัก  บูม
 ดาย  รัก  เจมส์
 ดาย  รัก  ฝน
 ดาย  รัก  แคมป์
 ฝน  รัก  เจ็ท
 ฝน  รัก  บูม
 ฝน  รัก  เจมส์
 ฝน  รัก  ดาย
 ฝน  รัก  แคมป์
 แคมป์  รัก  เจ็ท
 แคมป์  รัก  บูม
 แคมป์  รัก  เจมส์
 แคมป์  รัก  ดาย
 แคมป์  รัก  ฝน

### exercise

In [150]:
if True:
    print('Yes')

Yes

In [151]:
if False:
    print('No')

In [154]:
if False:
    print('Yes')
else:
    print('No')

No

In [155]:
1==1

True

In [156]:
if 1==1:
    print('1=1')

1=1

### == เช็คว่าข้างหน้ากับข้างหลังเท่ากันหรือไม่ (ถ้าใช่ ตอบ True )
### !=  ไม่เท่ากัน (ถ้าไม่เท่ากัน จะตอบว่า True)
### >=  ตัวข้างหน้ามากกว่าหรือเท่ากับตัวข้างหลังหรือไม่
### <= ตัวข้างหน้าน้อยกว่าหรือเท่ากับตัวข้างหลังหรือไม่
### > ข้างหน้ามากกว่าข้างหลัง
### < ข้างหน้าน้อยกว่าข้างหลัง

# HW ส่ง ศุกร์ที่ 17 มกราคม 2563
### เขียน function ตัดเกรด โดยที่ input เป็น คะแนน (0-100) output เป็นเกรด (F-A) เกณฑ์ตามมัธยม
#### input =  [1,50,65,90,101,-5,49]