In [1]:
import pandas as pd

## ข้อที่ 1 สร้างFunction ชื่อ smartDict ซึ่งทำหน้าที่
#### * function รับ input เป็น list 2 ตัวที่มีขนาดเท่ากัน โดย list แรกเป็น list ของตัวเอง list ที่สองเป็น list ของ text
#### * ถ้าค่าใน list แรกเป็นเลขคี่ ให้ค่าใน dict ที่เป็น output มี key เป็นคำจาก list ตัวที่ 1 และ value จาก list ตัวที่ 2
#### * ถ้าค่าใน list แรกเป็นเลขคู่ ให้ค่าใน dict ที่เป็น output มี key เป็นคำจาก list ตัวที่ 2 และ value จาก list ตัวที่ 1
#### * output ของ function คือ dict ที่สร้างขึ้น

In [299]:
def smartDict(listnum,listtext):
    k ={}
    for j in range(len(listnum)):
        if listnum[j]%2==1:
             k[listnum[j]]= listtext[j]
        else:
            k [listtext[j]]= listnum[j]
    return(k)

In [300]:
smartDict( [ 1 , 2, 3 ],[ 'apple' , 'banana','orange'])

{1: 'apple', 'banana': 2, 3: 'orange'}

## ข้อที่ 2 
### จากไฟล์ Wuhan_nCoV_GNome.txt จงเขียนโปรแกรมเพื่อตอบคำถามต่อไปนี้

### 2.1 กรดอะมิโนใด ( A,T,G,C) มีปิมาณมากที่สุดและมีเท่าใด

In [61]:
import pandas as pd

In [62]:
DNAseq = pd.read_csv('C:\Tangmo\Programming\Python_dataviz\Wuhan_nCoV_GNome.txt',header=None)
DNAseq.head()

                                                   0
0  ATTAAAGGTTTATACCTTCCCAGGTAACAAACCAACCAACTTTCGA...
1  CGAACTTTAAAATCTGTGTGGCTGTCACTCGGCTGCATGCTTAGTG...
2  TAATTACTGTCGTTGACAGGACACGAGTAACTCGTCTATCTTCTGC...
3  TTGCAGCCGATCATCAGCACATCTAGGTTTCGTCCGGGTGTGACCG...
4  CCTGGTTTCAACGAGAAAACACACGTCCAACTCAGTTTGCCTGTTT...

In [66]:
 DNAseq.shape

(428, 1)

In [67]:
DNAseq.iloc[1][0]

'CGAACTTTAAAATCTGTGTGGCTGTCACTCGGCTGCATGCTTAGTGCACTCACGCAGTATAATTAATAAC'

In [68]:
def countChar(seq,character):
    charcount = 0
    for char in seq:
        if char== character:
             charcount= charcount+1
    return  charcount

In [69]:
 countChar('ATTAAAGGTTTATACCTTCCCAGGTAACAAACCAACCAACTTTCGA','A')

17

In [117]:
ANum = 0
TNum = 0
GNum = 0
CNum = 0
for row in range(DNAseq.shape[0]):
    ANum += countChar(DNAseq.iloc[row][0],'A')
    TNum += countChar(DNAseq.iloc[row][0],'T')
    GNum += countChar(DNAseq.iloc[row][0],'G')
    CNum += countChar(DNAseq.iloc[row][0],'C')
    
print(f' {ANum} As, {TNum} Ts, {GNum} Gs, {CNum} Cs')

 8954 As, 9594 Ts, 5863 Gs, 5492 Cs

In [192]:
dat =(f' {ANum} As, {TNum} Ts, {GNum} Gs, {CNum} Cs')
print(max('Ts','As','Gs','Cs'))

Ts

### 2.2 จงหา sequence ที่มีขนาด 3 และ 4 ที่เกิดขึ้นซ้ำมากที่สุด

In [127]:
def populate3charstring(seq):
    str_list = list()
    for i in range(len(seq)-2):
        str_list.append(seq[i:i+3])
    return str_list

In [128]:
populate3charstring('ATTAAAGGTTT')

['ATT', 'TTA', 'TAA', 'AAA', 'AAG', 'AGG', 'GGT', 'GTT', 'TTT']

In [129]:
list_all_3char = list()
for row in range( DNAseq.shape[0]):
    list_all_3char = list_all_3char + populate3charstring(DNAseq.iloc[row][0])

In [130]:
len(list_all_3char)

29047

In [131]:
unique_3char = list(set(list_all_3char))

In [132]:
len(unique_3char)

64

In [133]:
dict_3char = {}
for sub_str in unique_3char:
    num = 0
    for s in list_all_3char:
        if sub_str == s:
            num += 1
    dict_3char[sub_str] = num

In [135]:
dict_3char

{'TAT': 601,
 'GAT': 430,
 'GAG': 290,
 'AGA': 582,
 'TTC': 509,
 'CCC': 113,
 'CAT': 472,
 'TTA': 853,
 'CAA': 681,
 'TGT': 834,
 'ACG': 157,
 'GTT': 686,
 'TCA': 536,
 'AAG': 564,
 'CCG': 70,
 'CGC': 92,
 'GTA': 458,
 'ATT': 749,
 'TCG': 110,
 'GCA': 363,
 'GGG': 131,
 'AAA': 899,
 'CTC': 276,
 'TGC': 530,
 'ATG': 701,
 'CCT': 332,
 'CTG': 483,
 'AGG': 317,
 'AGC': 292,
 'CTA': 543,
 'TAC': 591,
 'ACA': 789,
 'GAC': 328,
 'TCC': 203,
 'GGC': 217,
 'CCA': 336,
 'CGG': 74,
 'TTG': 800,
 'TTT': 984,
 'GCG': 86,
 'GCC': 184,
 'ACT': 660,
 'CAC': 447,
 'TCT': 526,
 'ATA': 456,
 'TAA': 688,
 'TGG': 540,
 'ACC': 364,
 'AGT': 493,
 'GGA': 272,
 'CGT': 166,
 'ATC': 336,
 'TGA': 602,
 'CTT': 720,
 'GGT': 442,
 'CAG': 424,
 'CGA': 91,
 'AAT': 735,
 'GTG': 532,
 'TAG': 414,
 'GTC': 265,
 'GAA': 524,
 'GCT': 509,
 'AAC': 595}

In [136]:
maxVal = -100
maxKey = None
for k in dict_3char.keys():
    if dict_3char[k] > maxVal:
        maxVal = dict_3char[k]
        maxKey = k

In [137]:
maxKey

'TTT'

In [138]:
print(f'max 3-long-sequence is {maxKey} with frequency equals {maxVal}')

max 3-long-sequence is TTT with frequency equals 984

In [139]:
def populate4charstring(seq):
    str_list = list()
    for i in range(len(seq)-3):
        str_list.append(seq[i:i+4])
    return str_list

In [140]:
populate5charstring('ATTAAAGGTTT')

['ATT', 'TTA', 'TAA', 'AAA', 'AAG', 'AGG', 'GGT', 'GTT', 'TTT']

In [141]:
list_all_4char = list()
for row in range( DNAseq.shape[0]):
    list_all_4char = list_all_4char + populate4charstring(DNAseq.iloc[row][0])

In [142]:
len(list_all_4char)

28619

In [143]:
unique_4char = list(set(list_all_4char))

In [145]:
len(unique_4char)

256

In [146]:
dict_4char = {}
for sub_str in unique_4char:
    num = 0
    for s in list_all_4char:
        if sub_str == s:
            num += 1
    dict_4char[sub_str] = num

In [147]:
dict_4char

{'TCTG': 103,
 'TGCG': 31,
 'GTAC': 128,
 'ATAG': 87,
 'ACCT': 135,
 'CCCA': 35,
 'TGGC': 106,
 'CACT': 160,
 'GCAT': 77,
 'GTCG': 19,
 'TACG': 44,
 'CTTG': 160,
 'AGAA': 194,
 'CTGA': 106,
 'CTAG': 87,
 'AAGC': 94,
 'TTAG': 121,
 'CTGC': 105,
 'AACG': 43,
 'GCAG': 76,
 'CGGT': 29,
 'ACTC': 94,
 'TGCT': 244,
 'GAAT': 117,
 'GTCA': 96,
 'TTGA': 185,
 'TGTG': 180,
 'GGCC': 30,
 'TCGC': 23,
 'AAGA': 195,
 'GAGT': 97,
 'GCTA': 133,
 'CGTG': 57,
 'ATGC': 146,
 'GACC': 53,
 'CTAC': 118,
 'GCTT': 158,
 'CGAG': 11,
 'ATCA': 135,
 'AGGT': 118,
 'CACA': 148,
 'CGTC': 23,
 'GAGG': 62,
 'CCTT': 115,
 'CAGC': 69,
 'AGAC': 113,
 'GTTA': 172,
 'TGCA': 159,
 'CCCC': 14,
 'CAGG': 81,
 'AACC': 106,
 'GATC': 58,
 'TAAG': 96,
 'GAGC': 52,
 'TCCT': 76,
 'ACTA': 163,
 'ACAA': 269,
 'GTAG': 112,
 'CAAC': 181,
 'AGCT': 140,
 'GTGT': 181,
 'GCGA': 19,
 'AGGG': 52,
 'ATAC': 104,
 'AAAA': 272,
 'ACCC': 55,
 'GTCC': 43,
 'AAAC': 182,
 'TTTC': 150,
 'TCGA': 22,
 'AGTG': 138,
 'TAAC': 127,
 'ACTG': 154,
 'CAGA': 162,
 'ATAT': 107,
 'AGCA': 83,
 'TTTG': 252,
 'CGCG': 12,
 'CCGA': 16,
 'CGAT': 31,
 'CATT': 152,
 'CTTT': 242,
 'CAAA': 206,
 'AAAG': 197,
 'CAGT': 108,
 'CGGG': 9,
 'GGGA': 30,
 'CCCT': 47,
 'GCAC': 93,
 'AATA': 137,
 'GCGG': 14,
 'TTCC': 76,
 'TTCA': 176,
 'GCTG': 159,
 'GTCT': 98,
 'TGGT': 235,
 'TATC': 75,
 'CCGT': 26,
 'CGTA': 39,
 'AGCC': 45,
 'CCAA': 102,
 'CCAG': 75,
 'AATC': 106,
 'GTGC': 111,
 'GGTC': 28,
 'AATG': 220,
 'GATG': 166,
 'GCAA': 112,
 'CCCG': 12,
 'GCTC': 53,
 'GGAG': 60,
 'GCCT': 73,
 'CGAA': 35,
 'AATT': 262,
 'AGTA': 105,
 'ACGG': 28,
 'CTCG': 32,
 'CGGA': 16,
 'ACGA': 33,
 'TGGG': 54,
 'TGAA': 188,
 'ATTA': 211,
 'GAGA': 77,
 'TAGT': 133,
 'CAAG': 116,
 'TGTA': 189,
 'ACGC': 33,
 'TCCG': 15,
 'ATTG': 181,
 'GCCA': 75,
 'CGTT': 45,
 'TCCC': 26,
 'TCTT': 201,
 'GGTT': 145,
 'GGGC': 31,
 'TATT': 199,
 'TTAC': 235,
 'TTCG': 38,
 'TATG': 184,
 'CCAT': 76,
 'TAAA': 247,
 'TTCT': 205,
 'ACAC': 162,
 'CCGG': 9,
 'CATG': 118,
 'GCGT': 37,
 'TGTT': 318,
 'GCGC': 16,
 'TACA': 231,
 'CAAT': 169,
 'ATCG': 21,
 'TTAT': 234,
 'GCCC': 16,
 'GATT': 120,
 'TACT': 199,
 'TTGC': 163,
 'TGAG': 83,
 'GGCA': 78,
 'CTGT': 160,
 'GTAT': 91,
 'GTTG': 194,
 'GGCG': 19,
 'AGCG': 22,
 'GGAT': 49,
 'AACA': 245,
 'GCCG': 15,
 'GTAA': 121,
 'GTGG': 109,
 'TCTC': 74,
 'GACG': 28,
 'TAGG': 55,
 'TTTT': 294,
 'CATA': 106,
 'GTGA': 121,
 'GGTA': 118,
 'ATTC': 130,
 'ACCA': 139,
 'TAGC': 76,
 'GGGG': 15,
 'AAAT': 230,
 'TCAT': 123,
 'ACAG': 158,
 'TTAA': 242,
 'ATAA': 152,
 'GATA': 77,
 'TGGA': 134,
 'TTTA': 277,
 'CACC': 95,
 'CGCA': 38,
 'GGCT': 87,
 'TCAA': 188,
 'TTGG': 157,
 'GAAG': 148,
 'ATTT': 220,
 'GGTG': 146,
 'CATC': 92,
 'CACG': 39,
 'ACAT': 190,
 'CCTG': 63,
 'GACT': 93,
 'GAAC': 91,
 'CCTC': 54,
 'TCCA': 83,
 'TGCC': 92,
 'CTGG': 98,
 'GGAA': 97,
 'GGAC': 63,
 'ACTT': 238,
 'GGGT': 55,
 'TCGT': 41,
 'ACGT': 61,
 'ATCT': 124,
 'CGCT': 27,
 'TAGA': 141,
 'ACCG': 28,
 'ATCC': 50,
 'AGTT': 171,
 'CTCT': 89,
 'TGAC': 131,
 'GTTC': 93,
 'TATA': 132,
 'TCAG': 108,
 'TGAT': 195,
 'AAGG': 112,
 'ATGA': 179,
 'TCAC': 108,
 'GTTT': 216,
 'TCTA': 139,
 'CCTA': 99,
 'CTTA': 183,
 'CGCC': 13,
 'CTTC': 128,
 'GAAA': 160,
 'AACT': 192,
 'CTAA': 166,
 'TAAT': 209,
 'CTAT': 161,
 'AGAG': 129,
 'AGGC': 59,
 'CCGC': 19,
 'CCAC': 78,
 'ATGG': 168,
 'TACC': 105,
 'GACA': 151,
 'TTGT': 282,
 'CGGC': 19,
 'CGAC': 14,
 'TGTC': 138,
 'AGAT': 140,
 'AAGT': 151,
 'ATGT': 202,
 'AGTC': 74,
 'CTCC': 31,
 'TCGG': 22,
 'AGGA': 87,
 'CTCA': 121}

In [148]:
maxVal = -100
maxKey = None
for k in dict_4char.keys():
    if dict_4char[k] > maxVal:
        maxVal = dict_4char[k]
        maxKey = k

In [149]:
 maxKey

'TGTT'

In [150]:
print(f'max 4-long-sequence is {maxKey} with frequency equals {maxVal}')

max 4-long-sequence is TGTT with frequency equals 318

## ข้อที่ 3

In [154]:
import pandas as pd

In [156]:
Datalag = pd.read_excel('C:\Tangmo\Programming\Python_dataviz\data.xlsx')
Datalag.head()

ImportError: Missing optional dependency 'xlrd'. Install xlrd >= 1.0.0 for Excel support Use pip or conda to install xlrd.

### 3.1